<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/products-page.css">
    <title>Our Products</title>
</head>
<body>

    
    <header>
        <%- include("./partial/nav-bar.ejs") %>
    </header>


  
    
    <h2>Our Categories</h2>
    <p>Over Hundreds of products with highest variety of selection are waiting for you. Master Bedrooms, Teens Bedrooms, Living Sets,
        <br> L-Shapes, U-Shapes, Dining Sets, Dining Chairs, TV Units. All your home furniture solutions from one place.</p>

        <div class="cards-container">
            
    <div class="card1">
        <div class="card-content">
            <a href="/livingRooms"><h3>Living Rooms</h3></a>
        </div>
    </div>

    <div class="card2">
        <div class="card-content">
            <a href="/diningRooms"><h3>Dining Rooms</h3></a>
        </div>
    </div>

    <div class="card3">
        <div class="card-content">
            <h3>Nightstands</h3>
        </div>
    </div>

    <div class="card4">
        <div class="card-content">
            <h3>Wardrobes</h3>
        </div>
    </div>

    <div class="card5">
        <div class="card-content">
            <h3>Dressers</h3>
        </div>
    </div>
</div>
</body>
</html>