h2 {
    color: #9a9b87;
    font-size: 40px;
    margin-left: 40%;
    margin-top: 10%;
  }
  
  p {
    color: #c3b6aa;
    font-size: 20px;
    margin-left: 17%;
  
  }

  
.card-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    margin-left: 5%;
    margin-top: 3%;
    background-color: transparent;
    width: 300px;
    border-radius: 10px;
    border: transparent;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .card h3 {
    color: #686957;
    padding-left: 30%;
    align-items: center;
    justify-content: center;
  }
  
  .card h3:hover {
    color: #7f806c;
    cursor: pointer;
  }
  
  .card h4 {
    color: #686957;
    padding-left: 25%;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  
  /*Modal*/
  .modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  
  .modal-content {
    background-color: #f7f7f7;
    margin: auto;
    margin-top: 9%;
    padding: 20px;
    border-radius: 50px;
    width: 80%;
    max-width: 1000px;
    position: relative;
    display: flex;
  
  }
  
  .modal-info {
    display: block;
    margin-left: 7%;
    margin-top: 2%;
  }
  
  .components-ul,
  .components-li {
  
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    padding-bottom: 2%;
    justify-content: space-evenly;
  
  
  }
  
  
  .components-li {
    margin-left: 5%;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #bc988e;
  }
  
  .modal-content img {
    width: 40%;
    border-radius: 8px;
    padding-top: 2%;
    padding-left: 5%;
    height: auto;
    max-height: 400px;
  
  }
  
  
  .modal-content h2 {
    color: #9d7267;
    font-size: 30px;
  }
  
  .modal-content h4 {
    padding-left: 4%;
    color: #bc988e;
    ;
    font-size: 18px;
  }
  
  .modal-info p {
    font-size: 18px;
    margin-left: 5%;
    color: #bc988e;
  }
  
  .modal-info button {
    margin-left: 220px;
    margin-bottom: 10%;
    background-color: #9d9f80;
    border: transparent;
    color: #f7f7f7;
    border-radius: 50px;
    height: 10%;
    width: 40%;
    font-size: 15px;
  }
  
  .modal-info button:hover {
    background-color: #828464a2;
  }
  
  /* CLOSING OF MODAL*/
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    padding-right: 13px;
    padding-top: 10px;
  }
  
  .close:hover {
    color: #aaa;
  }