body {
    background-color: #f7f7f7;
    margin: 0;
    padding-top: 75px;
  }
  
 /*Slider*/
  .slogan {
    color: #7f806c;
    margin-left: 38%;
    margin-top: 5%;
    font-size: 30px;
    font-style: italic;
  }
  
  .slider {
    position: relative;
    width: 100%;
    height: 619px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    width: 100%;
    height: 619px;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    height: 100%;
  
}

  .slide img{
    width: 100%;
  height: 100%;
  object-fit:initial;
  /* margin-left: 12%;  */
  }
  
  .bullets {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .bullet {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
  }
  
  .bullet.active {
    background-color: white;
  }
  

  
/*overview section*/
 .overview{
  display: flex;
 }
.section1{
  margin-top: 2%;
  display: flex;
}

 .section1 img{
  width: 400px;
  height: 400px;
 }

 .section1 h2{
  padding-left: 17px;
  padding-top: 1.5%;
  color: #8c665b;
  text-decoration:underline ;
 }



 .section1 p{
  margin-top: 7%;
  margin-left: -7%;
  font-size: 17px;
color: #949579;
  position:absolute;
 }

 .section2{
  position: absolute;
  margin-top: 2%;
  display: flex;
  margin-left: 50%;
 }

 .section2 img{
  width: 400px;
  height: 400px;
 }

 .section2 h2{
  padding-left: 40px;
  padding-top: 1.5%;
  color: #8c665b;
  text-decoration:underline ;
 }

 .section2 p{
  margin-top: 18%;
  margin-left: -30%;
  font-size: 17px;
  position:absolute;
color: #949579;
 } 

 .section3{
  display: flex;
  margin-left: 8%;
}

.section3 img{
 width: 360px;
 height: 400px;
 margin-left: 77%;
}

.section3 h2{
  position: absolute;
 margin-left: -7%;
 padding-top: 1.5%;
 color: #8c665b;
 text-decoration:underline ;
}

.section3 p{
 margin-top: 8%;
 margin-left: -47%;
 font-size: 17px;
 position:absolute;
color: #949579;
} 


.section4{
  display: flex;
  margin-left: 8%;
}

.section4 img{
 width: 360px;
 height: 400px;
 margin-left: 154%;
}

.section4 h2{
  position: absolute;
 margin-left: 13%;
 padding-top: 1.5%;
 color: #8c665b;
 text-decoration:underline ;
}

.section4 p{
 margin-top: 8%;
 margin-left: 15%;
 font-size: 17px;
 position:absolute;
 color: #949579;

} 

.new-products{
  background-color: #d1b5ae99;
  margin-top: 4%;
}

.new-products h2{
  color: #b57962;
  padding-top: 2%;
  margin-left: 40%;
  font-size: 27px;
}

.card-container{
  display:flex ;
  flex-wrap: wrap;
}

.card{
  margin-left: 5%;
background-color:transparent;
width: 350px;
border-radius: 10px;
border: transparent;

}

.card img{
  width: 250px;
  height: 250px;
  border-radius:10px;
  cursor: pointer;
}

.card h3{
  color: #686957;
  padding-left: 15%;
  align-items: center;
  justify-content: center;
}

.card h3:hover{
  color: #7f806c;
  cursor: pointer;
}
.card h4{
  color: #686957;
  padding-left: 15%;
  align-items: center;
  justify-content: center;
  position: relative;
}


/*Modal*/
.modal{      display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}


.modal-content {
  background-color: #f7f7f7;
  margin: auto;
  margin-top: 9%;
  padding: 20px;
  border-radius: 50px;
  width: 80%;
  max-width: 1000px;
  position: relative;
  display: flex;
  
}

.modal-info{
  display: block;
  margin-left: 7%;
  margin-top: 2%;
}

ul,li{

  display:flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  padding-bottom: 2%;
  justify-content: space-evenly;
  
}


.modal-content img{
  width: 40%;
  border-radius: 8px;
  padding-top: 2% ;
  padding-left: 5%;
  height: auto;
  max-height: 400px;

}


.modal-content  h2{
  color:#9d7267;
  font-size: 30px;
}

.modal-content  h4{
  padding-left: 4%;
  color:#bc988e;;
  font-size: 18px;
}

.modal-info p {
font-size: 18px;
margin-left: 5%;
color:#bc988e;
}

.modal-info button{
  margin-left: 220px;
  margin-top: 30px;
  background-color: #9d9f80 ;
  border:transparent;
  color: #f7f7f7;
  border-radius: 50px;
  height: 10%;
  width:40%;
  font-size: 15px;
}

.modal-info button:hover{
  background-color: #828464a2;
}

/* CLOSING OF MODAL*/ 
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  padding-right: 13px;
  padding-top: 10px;
}

.close:hover {
  color: #aaa;
}
